<header>
   <nav class="top_nav">
      <% if is_logged_in? %>
         <ul>
            <li id="grid"><a href="/" class="nav_text">Homepage</a></li>
            <li id="grid"><a href="/recipe/<%= each_recipe["id"] %>/edit" class="nav_text">Edit</a></li>
         </ul>
         <div class="logins">
            <form action="/sessions" method="POST">
               <input type="hidden" name="_method" value="DELETE">
               <input type="submit" class="nav_text" value="Logout"/>
            </form>
         </div>
       <% else %>
         <ul>
            <li><a href="/" class="nav_text">Homepage</a></li>
         </ul>
         <div class="logins">
            <a href="/user" class="nav_text">Sign-Up</a>
            <a href="/login" class="nav_text">Login</a>
         </div>
      <% end %>
   </nav>
</header>

<main class="each_recipe">
   <h3 class="each_title"><%= each_recipe["meal_item"] %></h3>

   <div class="details">
      <div class="calories">Calorie Count: <%= each_recipe["calories"] %>cals</div>
      <div class="category">Category: 
         <% if each_recipe["category"] == "Breakfast" %>
            <a href="/breakfasts"><%= each_recipe["category"] %></a>
         <% elsif each_recipe["category"] == "AM Snack" %>
            <a href="/am_snacks"><%= each_recipe["category"] %></a>
         <% elsif each_recipe["category"] == "Lunch" %>
            <a href="/lunches"><%= each_recipe["category"] %></a>
         <% elsif each_recipe["category"] == "PM Snack" %>
            <a href="/pm_snacks"><%= each_recipe["category"] %></a>
         <% elsif each_recipe["category"] == "Dinner" %>
            <a href="/dinners"><%= each_recipe["category"] %></a>
         <% end %>
      </div>
   </div>
   <div class="recipe_content">
      <div class="content">
         <div class="ingredients_array">Ingredients: <%= each_recipe["ingredients"].split(',').join("\n") %></div>
         <div class="recipe_text">Recipe: <%= each_recipe["recipe"] %></div>
      </div>
      <div class="each_img">
         <img src="<%= each_recipe["image_url"]%>" alt="">
      </div>
   </div>

</main>

