<form action="/recipe/<%= recipe["id"] %>" method="POST">
  <input type="hidden" name="_method" value="PUT" />

  <div class="meal-item">
    <label for="meal_item">
      Meal Item:
    </label>
    <input name="meal_item" value="<%= recipe["meal_item]%>" required>
  </div>

  <section class="category">
    <label for="category">Category:</label>
    <select name="category" id="category_select" required>
      <option value="">--Please choose a category--</option>
      <option value="Breakfast">Breakfast</option>
      <option value="AM Snack">AM Snack</option>
      <option value="Lunch">Lunch</option>
      <option value="PM Snack">PM Snack</option>
      <option value="Dinner">Dinner</option>
    </select>
  </section>  

  <div class="calories">
    <label for="calories">
      Calorie Count:
    </label>
    <input name="calories" value="<%= recipe["calories"]%>" required>
  </div>  

  <div class="image-url">
    <label for="image_url">
      Image URL:
    </label>
    <input name="image_url" value="<%= recipe["image_url"]%>" required>
  </div>  

  <div class="ingredients">
    <label for="ingredients">
      Ingredients:
    </label>
    <textarea name="ingredients" cols="30" rows="10" placeholder="List, your, ingredients, here" required><%= recipe["ingredients"]%></textarea>
  </div>

  <div class="recipe">
    <label for="recipe">
      Recipe:
    </label>
    <textarea name="recipe" cols="30" rows="10" placeholder="1. Write you recipe instructions here.
2. In numbered list formatting." required><%= recipe["recipe"]%></textarea>
  </div>

  <div class="button">
    <input type="submit" class="nav_text2" value="Update Recipe" />
    <a href="/" class="nav_text2" role="button">Cancel</a>
  </div>
</form>


